body{
    background-color: #D9FFE2;
    margin: 0px;
}

.header{
    text-align: center;
    background-color: #98F3AD;
    margin: 0px;
    padding: 20px 10px;
    color: black;
    font-family: 'PT Serif', serif;
}
.header a{
    padding: 20px 20px;
    color: black;
}

.header a:hover {
    background-color: #A7F9BA;
    font-weight: bold;
    color: black;
    border-radius: 2px;
}

.site-name{
    font-family: 'Staatliches', cursive;
    font-color: black;
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    Padding-bottom: 10px;
    margin: 0px;
    background-color: #5DDE7A;
    letter-spacing:1px;
}

.outline-site-name{
    -moz-text-fill-color: #5DDE7A;
    -webkit-text-fill-color: #5DDE7A;
    -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    -moz-text-stroke-width: 1.5px;  
    -webkit-text-stroke-width: 1.5px;
    font-family: 'Staatliches', cursive;
    font-size: 36px;
    text-align: center;
    }

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
}

.article-heading{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
}

h2{
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 3%;
    margin-right: 3%;
}

.h2-indent{
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: normal;
    text-indent: 3%;
    margin-right: 3%;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-right: 50px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 60%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 40%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.column-text{
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 0px;
}

.column-text-indent{
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: normal;
    margin-left: 6%;
    margin-right: 3%;
    text-indent: 6%;
    margin-top: 0px;
}

.column-text-article-heading{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 0px;
}

.huge-quotation1{
    font-family: 'Secular One', sans-serif;
    font-size: 80px;
    font-weight: bold;
    float: left;
    margin-top: -20px;
    margin-left:10%;
    margin-bottom: -10px;
    margin-right: 2px;
    line-height: 0.8;
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.huge-quotation2{
    font-family: 'Secular One', sans-serif;
    font-size: 80px;
    font-weight: bold;
    float: left;
    margin-top: -20px;
    margin-left:12%;
    margin-bottom: -10px;
    margin-right: 2px;
    line-height: 0.8;
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.col-9{
    display: table-cell;
}

.map1{
    padding: 0px;
    margin-left: 0px;
    margin-right: 3%;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
}

h4{
   font-family: 'DM Serif Display', serif;
   font-size: 24px; 
   margin-left: 15%;
   margin-right: 15%;
   margin-top: -20px;
   margin-bottom: -10px;
}

.pulled-quote-attribution{
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -10px;
}

.article-container{
    padding-left: 3%;
    padding-right: 3%;
}

.audioStyle{
    background-color: #D9FFE2;
    
}